DB_USER=Anton # Username of database user
DB_PASSWORD=1234 # Password of user
DB_NAME=shop # Database name (default: postgres)
DB_CONN=postgres://username:password@localhost:5432/database_name?sslmode=disable # String for connect to database